.tile-button{
    height:5em;
    width:10em;
    cursor:pointer;
    background-color: whitesmoke;
}

.tile-button:hover{
    background-color: rgb(220, 220, 220);
}

.tile-word{
    height:5em;
    width:10em;
    pointer-events: none;
}
